@import "tailwindcss";

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Medium.ttf') format('truetype');
  font-weight: 500;
}

:root {
  font-family: Lexend, sans-serif;

  --background: rgb(8, 9, 10);
  --white-08: rgba(255, 255, 255, 0.08);
}

body {
  background: var(--background);
  outline: none;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  color: #ffffff;
}
